.TaskForm {
  width: 30rem;
  margin: 2rem auto;
  max-width: 80%;
}

.TaskFormItem label {
  display: block;
  width: 100%;
}

.ingredient-form__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
